@using RepMcvBand.Models

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Band.Name</title>
</head>
<body>
    <h1>Band Details</h1>
    <h2>@ViewBag.Band.Name</h2>
    <p>@ViewBag.Band.Description</p>
</body>
</html>